<a href="https://colab.research.google.com/github/r1afif18/DS/blob/main/Tugas-P3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [3]:
import pandas as pd
tabel_siswa = {
    'Nama': ['Arfian Purnama', 'Alisa Dityaningrum', 'Kiki Anggraeni', 'Rizky Kurniawan'],
    'Gender': ['Laki-laki', 'Perempuan', 'Perempuan', 'Laki-laki'],
    'No Telepon': ['081267001022', '087823560918', '089654009102', '082267018967']
}
df = pd.DataFrame(tabel_siswa)
print(df)

                 Nama     Gender    No Telepon
0      Arfian Purnama  Laki-laki  081267001022
1  Alisa Dityaningrum  Perempuan  087823560918
2      Kiki Anggraeni  Perempuan  089654009102
3     Rizky Kurniawan  Laki-laki  082267018967

In [2]:
import pandas as pd
tabel_siswa = {
    'Nama': ['Arfian Purnama', 'Alisa Dityaningrum', 'Kiki Anggraeni', 'Rizky Kurniawan'],
    'Gender': ['Laki-laki', 'Perempuan', 'Perempuan','Laki-laki'],
    'No Telepon': ['081267001022', '087823560918', '089654009102', '082267018967'],
    'Tugas': ['80', '89', '76', '80'],
    'UTS': ['88', '78', '90', '81'],
    'UAS': ['90', '89', '85', '82']
}
df = pd.DataFrame(tabel_siswa)
print(df)

                 Nama     Gender    No Telepon Tugas UTS UAS
0      Arfian Purnama  Laki-laki  081267001022    80  88  90
1  Alisa Dityaningrum  Perempuan  087823560918    89  78  89
2      Kiki Anggraeni  Perempuan  089654009102    76  90  85
3     Rizky Kurniawan  Laki-laki  082267018967    80  81  82

In [1]:
import pandas as pd
tabel_siswa = {
    'Nama': ['Arfian Purnama', 'Alisa Dityaningrum', 'Kiki Anggraeni', 'Rizky Kurniawan'],
    'Gender': ['Laki-laki', 'Perempuan', 'Perempuan','Laki-laki'],
    'No Telepon': ['081267001022', '087823560918', '089654009102', '082267018967'],
    'Tugas': [80, 89, 76, 80],
    'UTS': [88, 78, 90, 81],
    'UAS': [90, 89, 85, 82]
}
df = pd.DataFrame(tabel_siswa)

df['Nilai Akhir'] = (0.3 * df['Tugas'] + 0.3 * df['UTS'] + 0.4 * df['UAS']).round(2)
print(df)

                 Nama     Gender    No Telepon  Tugas  UTS  UAS  Nilai Akhir
0      Arfian Purnama  Laki-laki  081267001022     80   88   90         86.4
1  Alisa Dityaningrum  Perempuan  087823560918     89   78   89         85.7
2      Kiki Anggraeni  Perempuan  089654009102     76   90   85         83.8
3     Rizky Kurniawan  Laki-laki  082267018967     80   81   82         81.1